@{
    ViewData["Title"] = "Privacy Policy";
}
<privacy>@ViewData["Title"]

<p>Tugas Akhir - Pemrograman Berorientasi Objek</p>
<p>1. Diah Ayu Rahmawati (22/499722/TK/54760)</p>
<p>2. Tsania Galuh Banggash (22/500322/TK/54832)</p>
<p>3. Aricha Rhobiula Avrilza (22/494219/TK/54191)</p>

</privacy>