/* Reset some default styles and apply a box-sizing border-box */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Apply a global font and background color */
body {
    font-family: Inter, sans-serif;
    background-color: #071B26;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.home {
    width: 100%;
    margin-top: 5px;
    margin-left: 5px;
}

/* Adjust the width of the program name section */
h1 {
    font-size: 25px;
    margin-top: 255px;
    margin-left: 124px;
    color: #FFFFFF;
    text-transform: uppercase;
}

p {
    margin-bottom: 5px; 
}

/* Add styling for the program logo as needed */
#programLogo {
    
    position: absolute;
    left: 50px; 
    top: 120px; 
    width: 270px; 
    height: 147px; 
}

/* Container styles for centering and adding some padding */
.container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}


   
/* User input section styles */
.user-data-box {
    width: 30%; 
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; 
    font-size: 13px;
}

/* Input field styles */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: Inter, sans-serif;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: Inter, sans-serif;
}

button {
    background-color: #7fcc53;
    color: #F6EBEB;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    font-family: Inter, sans-serif;
    cursor: pointer;
}

/* Boxes for BMI result and food recommendation */
.bmi-result-box {
    width: 30%;
    background-color: #fff;
    padding: 17px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; 
    font-size: 16px;
}

.food-recommendation-box {
    width: 30%;
    background-color: #fff;
    padding: 21px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    font-size: 16.7px;
}


/* User input container styles */
.user-input-container {
    width: 70%;
    margin-top: -280px;
    margin-left: 360px;
}

/* BMI result container styles */
.bmi-result-container {
    width: 70%;
    margin-top: -1px;
    margin-left: 360px;
}

/* Food recommendation container styles */
.food-recommendation-container {
    width: 114%;
    margin-top: -458px;
    margin-left: 700px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #FFFFFF; 
    text-align: center;
    font-size: 12px;
    padding: 5px; 
}

privacy {
    width: 100%;
    margin-top: 70px;
    margin-left: 20px;
    color: #FFFFFF;
}

