body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    margin: 20px;
}

header {
    background-color: #f8f9fa; /* Adjust as needed */
    padding: 15px;
    border-bottom: 1px solid #ccc;
}

.navbar-brand {
    font-size: 1.5em; /* Adjust as needed */
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col-md-4 {
    flex: 0 0 32%; /* Adjust as needed */
}

.user-data-box,
.bmi-result-box,
.food-recommendation-box {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

button {
    margin-top: 10px;
}

.footer {
    margin-top: 20px;
    padding: 15px;
    background-color: #f8f9fa; /* Adjust as needed */
}

@media (max-width: 768px) {
    .col-md-4 {
        flex: 0 0 100%;
    }
}
